.job_title_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #2c6da4;
  border-radius: 4px;
  background-color: #337ab7;
  color: White;
  text-align: center;
}
.well.profile-block {
  color: #fff;
  h3 { 
    margin-top: 0;
  }
}
.well.profile-description {
  background-color: #CA2A3D ;
  //border-color: ;
}
.well.contact-info {
  background-color: #089996 ;
  //border-color: #46b8da;
}